// main: ../imports.scss

$grid-size: 33.333%;

.hold {
  padding: 15px 0 0 15px;
}

#col1,
#col2 {
  transition: width 0.4s ease;
}


//nav
.navigation {
  &-ul {
    list-style: none;
    padding: 0;

      .selected {
        transition: ease 0.4s;
        padding: 5px 10px;
        border: solid 1px #a9a9a9;
        z-index: 5;

        .nav {
          &-heading {
            text-align: center;
          }

          &-content {
            display: block;
          }
        }

      }
      .nav-content {
        display: none;
        font-size: 14px;
        padding: 10px;
      }

    .nav-heading {
      display: block;
      transition: ease 0.4s;

      &:hover, &:focus {
        padding-left: 15px;
        transition: ease 0.4s;
      }
    }
  }
}

//item
.grid {
  * {
    box-sizing: border-box;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &-sizer, &-item {
    width: $grid-size;
  }

  &-item {
    float:left;
    padding: 0 15px 15px 0;

    .image {
      img {
        width: 100%;
        display: block;
      }
    }

    .text {

    }
  }
}

// media
//xs 576px
@media (max-width: 576px) {

}

@media (max-width: 768px) {
  .grid-sizer, .grid-item {
    width: 100%;
  }

  .navigation-ul {
    transition: all 0.4s ease;
    position: absolute;
    top: -400%;
  }

  //js affected
  .navReveal {

  h1 {
    font-weight: 700;
    text-shadow: 0px 0px 1px #636363;
  }

  .navigation-ul {
    top: 80%;
    margin-right: 45px;

    .selected {
      background-color: rgba(251, 251, 251, 0.5);
      margin-top: 10px;
    }
  }
}
  #col1 {
    height: 45px;
    position: fixed;
    width: 100%;
    z-index: 2;
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 769px) {
  .col1--active {
    width: 35% !important;
  }

  .col2--active {
    width: 65% !important;
  }

  .navbar-fixed-left {
    position: fixed;
    width: inherit;
    padding-right: 35px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {



}
